@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Sans&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px/1.6 "PT Sans", sans-serif;
  text-align: center;
}

.ba-container {
  max-width: 960px;
  margin: 0 auto;
}

.ba-supscribe {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #88909b;
  padding-top: 144px;
  margin-bottom: 28px;
  line-height: 30px;
  letter-spacing: 4.3px;
}

.ba-header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 48px;
  text-transform: uppercase;
  color: #00c9cc;
  line-height: 30px;
  padding-right: 25px;
  margin-bottom: 38px;
  letter-spacing: 4px;
}

.ba-span {
	display: block;
  font-size: 18px;
  font-weight: 50;
  color: #9a9a9a;
  line-height: 30px;
  text-transform: uppercase;
  text-align: justify;
  width: 530px;
  margin: 0 auto 100px;
  letter-spacing: 1.2px;
}

.ba-info {
  display: flex;
  width: 940px;
  border: 1px solid #ececec;
  margin-bottom: 138px;
}

.ba-info section {
  background-color: #f7f7f7;
}

.ba-info section:hover {
  background-color: #00c9cc;
}

.ba-info :nth-child(1) img {
  padding-top: 55px;
  margin-bottom: 40px;
}

.ba-info :nth-child(2) img {
  padding-top: 55px;
  margin-bottom: 31px;
}

.ba-info :nth-child(3) img {
  padding-top: 63px;
  margin-bottom: 48px;
}

.ba-info :nth-child(4) img {
  padding-top: 62px;
  margin-bottom: 46px;
}

.ba-info h2 {
  color: #141414;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
  padding: 0 26px;
  margin-bottom: 18px;
}

.ba-info :nth-child(2) h2 {
  line-height: 27px;
}

.ba-info p {
  color: #787878;
  padding: 0 23px 80px;
  word-wrap: break-word;
}

.ba-info section:hover h2,
.ba-info section:hover p {
  color: white;
}

